// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Bandmatch Visual Identity
 $bandmatch_orange: #FF8A1F;
 $bandmatch_orange_hover: #E06C00;
 $bandmatch_purple: #8F5BFE;
 $bandmatch_purple_hover: #7434FE;
 $bandmatch_light_purple: #E3D6FF;
 $bandmatch_light_grey: #F6F6F6;
 $bandmatch_dark_grey: #D6D4D4;
 $bandmatch_black: #2E2E2E;

