<div class="header-homepage linear-gradient">
  <div class="navbar-home-btns">
    <%= link_to "/" do %>
      <%= image_tag "logo-bandmatch-white.svg", class: "logo" %>
    <% end %>
    <%= link_to "Se connecter", new_user_session_path, class: "white-btn"%>
  </div>
</div>
