<!-- <div class="container"> -->
  <div class="background-footer">
    <div>
      <div class="links-footer">
        <p>Nous contacter</p>
      </div>
      <div class="links-footer">
        <p>FAQ</p>
      </div>
      <div class="links-footer">
        <p>Crédits</p>
      </div>
    </div>
    <div class="links-footer">

    </div>
  </div>
<!-- </div> -->
