// Button pour se connecter de la navbar home
.white-btn {
  background-color: white;
  color: black !important;
  padding: 7px;
  border-radius: 150px;
  border: 0.5px solid white;
  width: 110px;
  font-size: 15px;
  text-align: center;
  &:hover {
    text-decoration: none;
    background-color: #F5F5F5;
    border: 0.5px solid #F5F5F5;
  }
}

.primary-orange-btn {
  background-color: $bandmatch_orange;
  color: white !important;
  padding: 12px 25px;
  border-radius: 50px;
  border: 0.5px solid $bandmatch_orange;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
  &:hover {
    text-decoration: none;
    background-color: $bandmatch_orange_hover;
    border: 0.5px solid $bandmatch_orange_hover;
  }
}

.contact-us {
  margin-bottom:0;
}

.primary-purple-btn {
  background-color: $bandmatch_purple;
  color: white !important;
  padding: 12px 25px;
  border-radius: 50px;
  border: 0.5px solid $bandmatch_purple;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
  &:hover {
    text-decoration: none;
    background-color: $bandmatch_purple_hover;
    border: 0.5px solid $bandmatch_purple_hover;
  }
}

.secondary-orange-btn {
  background-color: white;
  color: $bandmatch_orange !important;
  padding: 12px 25px;
  border-radius: 50px;
  border: 0.5px solid $bandmatch_orange;
  font-size: 15px;
  width: 110px;
  text-align: center;
  &:hover {
    text-decoration: none;
    background-color: #F5F5F5;
  }
}

.icon-message {
  width: 35px;
}
.message-i {
  margin-right: 15px;
  display: flex;
  align-self: center;
}
