// Button pour se connecter de la navbar home
.white-btn {
  background-color: white;
  color: black !important;
  padding: 10px;
  border-radius: 50px;
  &:hover {
    text-decoration: none;
    background-color: grey;
  }
}

.icon-message {
  width: 35px;
}
.message-i {
  margin-right: 15px;
  display: flex;
  align-self: center;
}
