.cards {
  display: grid;
  grid-gap: 30px;
  margin-top: 100px;
  p {
  color: $bandmatch_black;
  }
  a {
    text-decoration: none;
    color: $bandmatch_black;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  a:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.03);
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
    padding: 0 25px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background-color: $bandmatch_light_grey;
  padding: 12px;
  height: 250px;
  display: flex;
  border-radius: 40px 0 40px 40px;
  box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
  a {
    color: $bandmatch_black;
  }
}

.card-avatar-info {
  display: flex;
  justify-content: space-around;
  height: 150px;
}
.card-avatar {
  width: 100px;
  border-radius: 60px;
  object-fit: cover;
  align-self: center;
  text-align: center;
  vertical-align: middle;
}

.card-info{
  text-align: left;
  // margin-left: 100px;
}

.card-info-items{
  display: flex;
  justify-content: align-left;
  text-align: left;
  i {
    margin-right: 4px;
    color: $bandmatch_purple;
  }
}
.card-preference {
  display: flex;
  justify-content: space-around;
  text-align: bottom;
  vertical-align: middle;
  // margin-top: 30px;
}
.card-preference p {
  margin: 0px;
}
.card-preference-items {
  display: flex;
  justify-content: space-around;
  text-align: center;
  vertical-align: middle;
  align-self: center;

  i {
    margin-right: 4px;
    color: $bandmatch_purple;
  }
}


//// --------Cards de la band index ---------------////

.cards-bands {
  display: grid;
  grid-gap: 60px;
  margin-top: 60px;
  // margin-top: 70px;
  p {
  color: $bandmatch_black;
  }
  a {
    text-decoration: none;
    color: $bandmatch_black;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  a:hover {
    // -webkit-transform: scale(1.01);
    // transform: scale(1.03);
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-bands {
    grid-template-columns: 1fr;
    padding: 0 25px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-bands {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-bands {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-bands {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-bands {
    grid-template-columns: 1fr 1fr;
  }
}

.card-title {
  text-align: center;
}


.card-bands {
  background-color: $bandmatch_light_grey;
  padding: 0px;
  height: 230px;
  display: flex;
  border-radius: 40px 0 40px 40px;
  box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
  a {
    color: $bandmatch_black;
  }
}

.card-show-band:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   transform: scale(1.01);
}

.card-show-band {
  background-color: $bandmatch_light_grey;
  padding: 0px;
  height: 220px;
  display: flex;
  border-radius: 60px 0 60px 60px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  a h4 {
    color: $bandmatch_black;
  }
}

.band-img {

}

.info-band {
  padding: 20px;
  flex-grow: 1;
}

.band-members {
  margin: 30px 0;
  justify-content: space-around;
}

.title-band {
  color: $bandmatch_orange;
  font-weight: bold;
  text-align: center;
}
.last-info {
  i {
    // margin-right: 4px;
    color: $bandmatch_orange;
  }
}

.band-logo-bands {
  width: 150px;
  height: 220px;
  align-self: center;
  border-radius: 60px 0 0 60px;
  object-fit: cover;
  margin: 0px;
}

.member {
  font-size: 10px;
  display: flex;
}

.picto {
  margin-right: 30px;
  p {
    margin-bottom: 0;
  }
}

.one-member-pic-band {
  width: 45px;
  height: 45px;
  align-self: center;
  border-radius: 50px;
  object-fit: cover;
}
.gauge-index-band {
  width: 16% !important;
}

.gauge-number {
  font-size: 10px !important;
}

.last-info {
  justify-content: space-between;
  align-items: flex-end;
}
// .card-avatar-info-bands {
//   margin-top: 15px;
//   display: flex;
//   // justify-content: space-around;
//   height: 120px;
//   margin-left: 20px;
//   i {
//     margin-right: 4px;
//     color: $bandmatch_orange;
//   h4 {
//     color: $bandmatch_orange;
//   }
//   }
// }
// .card-avatar-bands {
//   width: 100px;
//   border-radius: 60px;
//   object-fit: cover;
//   align-self: center;
//   text-align: center;
//   vertical-align: middle;
// }

// .card-info-bands {
//   text-align: left;
//   margin-left: 70px;
//   color: $bandmatch_orange;
// }

// .card-info-items-bands {
//   display: flex;
//   justify-content: align-left;
//   text-align: left;
//   i {
//     margin-right: 4px;
//     color: $bandmatch_purple;
//   }
// }
// .card-preference-bands {
//   display: flex;
//   justify-content: space-around;
//   // text-align: bottom;
//   vertical-align: right;
//   margin-bottom: 20px;
// }
// .card-preference-bands p {
//   margin: 0px;
// }
// .card-preference-items-bands-bands {
//   display: flex;
//   justify-content: space-around;
//   text-align: center;
//   vertical-align: middle;
//   align-self: center;

//   i {
//     margin-right: 4px;
//     color: $bandmatch_purple;
//   }
// }




//// -------- FIN de Cards de la band index ---------------////



/// Card de la show musician ///
.background-card-show {
  background-color: $bandmatch_light_grey;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.background-card-show-content {
  display: flex;
  padding: 20px;
}
.background-card-show-text {
  margin-left: 30px;
  align-self: center;
  i {
    margin-right: 4px;
    color: $bandmatch_purple;
  }
}
.background-card-show-picture {
  width: 160px;
  height: 250px;
  align-self: center;
  border-radius: 70px;
  object-fit: cover;
  margin-left: 30px;
  margin-top: 30px;
}
.contact-btn {
  justify-content: center;
  display: flex;
}
.center {
  text-align: center;
}
.card-avatar-in-band {
  border-radius: 60px;
  object-fit: cover;
  align-self: center;
  text-align: center;
  vertical-align: middle;
}
.bio {
  width: 750px;
}
.soundcloud {
  width: 50px;
  margin-left: 180px;
  align-self: center;
}
.background-card-soundcloud {
  background-color: $bandmatch_light_grey;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  padding-top: 20px;
  height: 130px;
  width: 750px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.soundclound-text{
  align-self: center;
  margin-left: 20px;
}
/// ----------------------------------- ///


.card-preference-items-in-bands {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-self: center;
  i {
    margin-right: 4px;
    color: $bandmatch_orange;
  }
}

// -------- cards de la show band --------//
.container-band {
  justify-content: center;
  width: 750px;
  margin: auto;
}
.background-card-show-band {
  background-color: $bandmatch_light_grey;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.background-card-show-text-band {
  margin-left: 30px;
  align-self: center;

  i {
    margin-right: 4px;
    color: $bandmatch_orange;
  }
}
.band-logo {
  width: 115px;
  height: 115px;
  align-self: center;
  border-radius: 90px;
  object-fit: cover;
}
.box-logo {
  flex-direction: column;
  margin-bottom: 20px;
  // border: 0.5px solid grey;
}
.box-members {
  // border: 0.5px solid grey;
  flex-direction: column;
  margin: 10px 0;
}
.col1 {
  padding-right: 30px;
}
.col2 {
  padding: 0 30px;
  padding-top: 0px;
}
.col3 {
  padding-left: 20px;
    i {
    margin-right: 4px;
    color: $bandmatch_orange;
  }
}

.one-member {
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

.one-member-pic {
  width: 45px;
  height: 45px;
  align-self: center;
  border-radius: 50px;
  object-fit: cover;
}

.one-member-name {
  text-align: center;
  p {
    margin-bottom: 0;
  }
}
.band-circle {
  width: 100px;
}
.band-gauge {
  width: 100% !important;
}

.members {
  color: $bandmatch_orange;
}

// ----------------------------------------//

.justify-center {
  justify-content: center;
}
