.cards {
  display: grid;
  grid-gap: 30px;
  margin-top: 100px;
  p {
  color: $bandmatch_black;
  }
  a {
    text-decoration: none;
    color: $bandmatch_black;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  a:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.03);
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
    padding: 0 25px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background-color: $bandmatch_light_grey;
  padding: 12px;
  height: 250px;
  display: flex;
  border-radius: 40px 0 40px 40px;
  box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
  a {
    color: $bandmatch_black;
  }
}

.card-avatar-info {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  height: 150px;
}
.card-avatar {
  width: 100px;
  border-radius: 60px;
  object-fit: cover;
  align-self: center;
  text-align: center;
  vertical-align: middle;
}

.card-info{
  text-align: left;
  // margin-left: 100px;
}

.card-info-items{
  display: flex;
  justify-content: align-left;
  text-align: left;
  i {
    margin-right: 4px;
    color: $bandmatch_purple;
  }
}
.card-preference {
  display: flex;
  justify-content: space-around;
  text-align: bottom;
  vertical-align: middle;
  // margin-top: 30px;
}
.card-preference p {
  margin: 0px;
}
.card-preference-items {
  display: flex;
  justify-content: space-around;
  text-align: center;
  vertical-align: middle;
  align-self: center;

  i {
    margin-right: 4px;
    color: $bandmatch_purple;
  }
}

// Card de la show musician

.background-card-show {
  background-color: $bandmatch_light_grey;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  padding-top: 30px;
  height: 390px;
  width: 700px;
  margin-bottom: 30px;
  margin-top: 30px;
}


.background-card-show-content {
  display: flex;
  padding: 20px;
}

.background-card-show-text {
  margin-left: 30px;
  align-self: center;
}

.background-card-show-picture {
  background-color: $bandmatch_purple;
  width: 150px;
  height: 250px;
  align-self: center;
  border-radius: 70px;
  object-fit: cover;
  margin-left: 30px;
}

.contact-btn {
  justify-content: center;
  display: flex;
}

.center {
  text-align: center;
}
.card-avatar-in-band {
  border-radius: 60px;
  object-fit: cover;
  align-self: center;
  text-align: center;
  vertical-align: middle;
}

.card-preference-items-in-bands {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-self: center;
  i {
    margin-right: 4px;
    color: $bandmatch_orange;
  }

}
