.cards {
  display: grid;
  grid-gap: 30px;
  margin-top: 100px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
    padding: 0 25px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background-color: $bandmatch_light_grey;
  padding: 12px;
  height: 250px;
  display: flex;
  border-radius: 40px 0 40px 40px;
  box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
}

.card-avatar-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 150px;
  margin-bottom: 20px;
}
.card-avatar {
  width: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: $bandmatch_dark_grey;
}

.card-info{
  text-align: left;
  // margin-left: 100px;
}

.card-info-items{
  display: flex;
  justify-content: align-left;
  text-align: left;
  i {
    margin-right: 4px;
    color: $bandmatch_purple;
  }
}
.card-preference {
  display: flex;
  justify-content: space-around;
  text-align: bottom;
  // margin-top: 30px;
}
.card-preference-items {
  display: flex;
  justify-content: space-around;
  text-align: center;
  i {
    margin-right: 4px;
    color: $bandmatch_purple;
  }
}
