.conv-container {
  // min-height: 500px;
  height: calc(100vh - #{$navbar-height} - #{$navbar-margin-bottom} - #{$footer-height} - #{$footer-margin-top} - (2 * #{$footer-padding}));

}
.mailbox-container {
  display: flex;
  height: 100%;
}
.conversations-container {
  border-radius: 60px 0px 60px 60px;
  padding: 12px;
  width: 50%;
  border-style: none;
  border-color: $bandmatch_light_grey;
  border-width: 0.5px;
  height: fit-content;
}
.messages-container {
  border-radius: 60px 0px 60px 60px;
  padding: 12px;
  width: 50%;
  border-style: nones;
  border-color: $bandmatch_dark_grey;
  border-width: 1px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.messages {
  overflow: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}
.conversation-cards {
  display: grid;
  grid-gap: 7px;
  margin-top: 20px;
  width: 400px;
  p {
  color: $bandmatch_black;
  margin-bottom: 0;
  padding: 6px;
  }
  a {
    text-decoration: none;
    color: $bandmatch_black;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  a:hover {
    background-color: #E3D5FF;
    border-radius: 60px 0 60px 60px;
  }
}
.conversation-card {
  padding: 10px;
  width: 400px;
  display: flex;
  border-radius: 60px 0px 60px 60px;
  border-bottom-color: $bandmatch_light_grey;
  a {
    color: $bandmatch_black;
  }
}
.conversation-card-current {
  background-color: #8F5BFE;
  padding: 10px;
  // height: 110px;
  width: 400px;
  display: flex;
  border-radius: 60px 0 60px 60px;
  border-bottom-color: $bandmatch_light_grey;
  // box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
  a {
    color: $bandmatch_black;
  }
  p {
    color: white;
  }
}
.card-info-items-conversation{
  display: flex;
  justify-content: align-left;
  text-align: left;
}

/////////// cutsom marion /////////////////:

.card-conversations-avatar-info {
  display: flex;
  justify-content: space-around;
  vertical-align: center;
  padding: 0px;
  // height: 150px;
  p {
    padding: 0px;
  }
}

.card-conversations-avatar {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  object-fit: cover;
  align-self: center;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
}

.card-conversations-info {
  text-align: left;
  padding: 0px;
  align-self: center;
}

