input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=text] {
    transition: width 0.4s ease-in-out;
  }

  
input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=number] {
    transition: width 0.4s ease-in-out;
  }
  
input[type=text]:focus {
    width: 100%;
  }

input[type=submit-musician] {
    width: 49%;
    background-color: #e79d3c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit-musician]:hover {
    background-color: #9e4d0b;
  }

input[type=submit-band] {
    width: 49%;
    background-color: #983cce;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit-band]:hover {
    background-color:  #451064;
  }

#input-styling-address input {
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background: #ffffff;
  padding: 1em 0 1em 45px;
  width: 100%;
}

#input-styling-address input:focus, #input-styling-address input:active {
  outline: 0;
  border-color: #aaaaaa;
  background: #ffffff;
}

#input-styling-address .ap-nostyle-dropdown-menu {
  box-shadow: none;
  border: 1px solid #dadada;
  border-radius: 0;
  background: #fff;
  width: 100%;
}

#input-styling-address .ap-nostyle-input-icon {
  display: block;
  position: absolute;
  background: none;
  border: none;
}

#input-styling-address .algolia-places-nostyle { width: 50%; }
#input-styling-address .ap-nostyle-icon-pin { left: 5px;top: 10px; }
#input-styling-address .ap-nostyle-icon-clear { right: 5px;top: 15px }
#input-styling-address input:hover { border-color: silver; }
#input-styling-address input::placeholder { color: #aaaaaa; }
#input-styling-address .ap-nostyle-suggestion { border-bottom: 1px solid #efefef; }