.background-footer {
  background-color: $bandmatch_light_grey;
  margin: 0;
  margin-top: 50px;
  border-top-right-radius: 248px;
  display: flex;
  padding: 35px;
  position: inherit;
  width: -webkit-fill-available;
  bottom: 0;
  ul li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
  }
    ul li a:hover {
    color: $bandmatch_orange;
  }
}

.links-footer {
  flex-direction: column;
  align-self: center;
  text-decoration: none;
}

.no-bull {
    text-decoration: none;
    list-style-type: none;
    color: black;
}
