.background-footer {
  background-color: $bandmatch_light_grey;
  margin: 0;
  border-top-right-radius: 248px;
  box-sizing: content-box;
  // see variables file
  height: $footer-height;
  margin-top: $footer-margin-top;
  padding: $footer-padding;
  display: flex;
  position: inherit;
  width: -webkit-fill-available;
  bottom: 0;
  ul li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
  }
    ul li a:hover {
    color: $bandmatch_orange;
  }
}

.links-footer {
  flex-direction: column;
  align-self: center;
  text-decoration: none;
}

.no-bull {
    text-decoration: none;
    list-style-type: none;
    color: black;
}
