.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 230px;
  padding: 10px;
  // background-size: cover;
}


// Logo sur la grande banner home page
.navbar-home-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-homepage {
  height: 510px;
  // background-color: $bandmatch_purple;
  padding: 30px;
  border-bottom-left-radius: 248px;
    h1 {
      color: white;
      text-align: center;
      padding-top: 160px;
      font-family: Arial;
    }
    p {
      color: white;
    }
}

.linear-gradient {
  background: linear-gradient(to right, $bandmatch_purple, $bandmatch_light_purple);
}
