// Navbar classique du wagon
.navbar-lewagon {
  justify-content: space-between;
  background: white;

  // see variables file
  height: $navbar-height;
  margin-bottom: $navbar-margin-bottom;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 230px;
}


// Header de la home page
.navbar-home-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-homepage {
  height: 410px;
  // background-color: $bandmatch_purple;
  padding: 30px;
  border-bottom-left-radius: 248px;
  margin-bottom:35px;
    h1 {
      color: white;
      text-align: center;
      padding-top: 90px;
      font-family: Arial;
      font-size: 45px;
    }
    p {
      color: white;
    }
}

.linear-gradient {
  background: linear-gradient(to right, $bandmatch_purple, $bandmatch_light_purple);
}

.logo {
  width: 230px;
  padding: 10px;
  // background-size: cover;
}

